    <div class="web_header">
        <div>
            <h1 class="Brand_name_logo">Brand.name</h1>
        </div>
        <div>
            <a href="{% url 'articleapp:list' %}?next={{ request.path }}">
                <span>Aricles</span>
            </a>
            <span>nav2</span>
            <span>nav3</span>
{#  유저가 인증이 안되어잇다면 login을 보여주고 그게아니라면 logout을 보여줌 그게끝내고난후 원래자리로 다시 돌아옴 #}
{#  하지만 원래 로그인에서 로그인햇다면 로그인으로 다시 들어가기때문에 리다이렉트설정해 주어야함 그건 settings에서 설정  #}
            {% if not user.is_authenticated %}
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                    <span>login</span>
                </a>
                <a href="{% url 'accountapp:create' %}?next={{ request.path }}">
                    <span>SignUp</span>
                </a>
            {% else %}
{# 디테일에 들어갈때 pk를 설정해주었기 때문에 pk값을 설정해줌 #}
                <a href="{% url 'accountapp:detail' pk=user.pk %}">
                    <span>MyPage</span>
                </a>
                <a href="{% url 'accountapp:logout' %}">
                    <span>logout</span>
                </a>
            {% endif %}
        </div>
    </div>